<blockquote>
    <%- quote; %>
    <div id="appid" style="display: none;"><%- vappid; %></div>
    <div id="appkey" style="display: none;"><%- vappkey; %></div>
</blockquote>
<style>
    <% include index.css %>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('movieWatching') %>
        (<%= watching.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('movieWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('movieWatched') %>
        (<%= watched.length %>)</a>
 
</div>
<div>
    <div id="hexo-douban-item1">
        <% watching.forEach(function(item){ %>
        <% include movieWatching.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <% include movieWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item3">
        <% watched.forEach(function(item){ %>
        <% var plen = len %>
        <% include movieWatched.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
 
</div>


<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

<script type='text/javascript' src='https://cdn.jsdelivr.net/gh/TianZonglin/tuchuang/file/valine.js'></script>
<script> 
    var GUEST_INFO = ['nick','mail','link'];
    var guest_info = "nick,mail,link".split(',').filter(function(item){
        return GUEST_INFO.indexOf(item) > -1
    });
    var notify = 'true' == true;;
    var verify = 'true' == true;;
    var valine = new Valine();
    valine.init({
        el: '#valine_container',
        notify: notify,
        verify: verify,
        guest_info: guest_info,
        appId: document.getElementById("appid").innerHTML,
        appKey: document.getElementById("appkey").innerHTML,
        placeholder: "如有需要，可在此留言反馈",
        pageSize:'5',
        avatar:'retro',
        lang:'zh-cn',
        visitor: 'true',
        highlight: 'true'
    })
</script>

 